<rule name="rule 1b">
	<match url="^/$"  />
	<action type="Rewrite" url="/index.php?app=home"  appendQueryString="true" />
</rule>
<rule name="rule 2b">
	<match url="^language/(\w{3,25})(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=home&amp;language={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 3b">
	<match url="^guest(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=guest"  appendQueryString="true" />
</rule>
<rule name="rule 4b">
	<match url="^confirm_registration(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=confirm_reg"  appendQueryString="true" />
</rule>
<rule name="rule 5b">
	<match url="^admin_panel(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=cpanel"  appendQueryString="true" />
</rule>
<rule name="rule 6b">
	<match url="^admin_panel/(\w{3,25})(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=cpanel&amp;section={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 7b">
	<match url="^trending(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=trending"  appendQueryString="true" />
</rule>
<rule name="rule 8b">
	<match url="^bookmarks(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=bookmarks"  appendQueryString="true" />
</rule>
<rule name="rule 9b">
	<match url="^notifications(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=notifications&amp;page=notifs"  appendQueryString="true" />
</rule>
<rule name="rule 10b">
	<match url="^mentions(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=notifications&amp;page=mentions"  appendQueryString="true" />
</rule>
<rule name="rule 11b">
	<match url="^search(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=search"  appendQueryString="true" />
</rule>
<rule name="rule 12b">
	<match url="^search/(htags|people|posts)(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=search&amp;tab={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 13b">
	<match url="^thread/(\d+)(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=thread&amp;thread_id={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 14b">
	<match url="^reset_password(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=guest"  appendQueryString="true" />
</rule>
<rule name="rule 15b">
	<match url="^home(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=home"  appendQueryString="true" />
</rule>
<rule name="rule 16b">
	<match url="^logout(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=logout"  appendQueryString="true" />
</rule>
<rule name="rule 17b">
	<match url="^settings(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=settings"  appendQueryString="true" />
</rule>
<rule name="rule 18b">
	<match url="^terms_of_use(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=stat_pages&amp;page=terms"  appendQueryString="true" />
</rule>
<rule name="rule 19b">
	<match url="^privacy_policy(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=stat_pages&amp;page=privacy_policy"  appendQueryString="true" />
</rule>
<rule name="rule 20b">
	<match url="^cookies_policy(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=stat_pages&amp;page=cookies_policy"  appendQueryString="true" />
</rule>
<rule name="rule 21b">
	<match url="^about_us(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=stat_pages&amp;page=about_us"  appendQueryString="true" />
</rule>
<rule name="rule 22b">
	<match url="^faqs(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=stat_pages&amp;page=faqs"  appendQueryString="true" />
</rule>
<rule name="rule 23b">
	<match url="^suggested(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=suggested"  appendQueryString="true" />
</rule>
<rule name="rule 24b">
	<match url="^chats(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=chats"  appendQueryString="true" />
</rule>
<rule name="rule 25b">
	<match url="^affiliates(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=affiliates"  appendQueryString="true" />
</rule>
<rule name="rule 26b">
	<match url="^ads(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=ads"  appendQueryString="true" />
</rule>
<rule name="rule 27b">
	<match url="^ads/new(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=ads&amp;page=upsert"  appendQueryString="true" />
</rule>
<rule name="rule 28b">
	<match url="^ads/edit/(\d+)(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=ads&amp;page=upsert&amp;ad_id={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 29b">
	<match url="^ads/archive(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=ads&amp;page=archive"  appendQueryString="true" />
</rule>
<rule name="rule 30b">
	<match url="^oauth(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=oauth"  appendQueryString="true" />
</rule>
<rule name="rule 31b">
	<match url="^wallet(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=wallet"  appendQueryString="true" />
</rule>
<rule name="rule 32b">
	<match url="^blocked(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=blocked"  appendQueryString="true" />
</rule>
<rule name="rule 33b">
	<match url="^conversation/@(\w{3,25})(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=conversation&amp;uname={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 34b">
	<match url="^404(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=err404"  appendQueryString="true" />
</rule>
<rule name="rule 35b">
	<match url="^500(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=err500"  appendQueryString="true" />
</rule>
<rule name="rule 36b">
	<match url="^native_api/(\w{3,32})/(\w{3,32})$"  />
	<action type="Rewrite" url="/api.php?api=native&amp;app={R:1}&amp;action={R:2}"  appendQueryString="true" />
</rule>
<rule name="rule 37b">
	<match url="^mobile_api/(\w{3,32})$"  />
	<action type="Rewrite" url="/api.php?api=mobile&amp;app={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 38b">
	<match url="^@(\w{3,25})(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=profile&amp;uname={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 39b">
	<match url="^@(\w{3,25})/(following|followers)(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=connections&amp;uname={R:1}&amp;tab={R:2}"  appendQueryString="true" />
</rule>
<rule name="rule 40b">
	<match url="^@(\w{3,25})/(posts|media|likes)(\/|)$"  />
	<action type="Rewrite" url="/index.php?app=profile&amp;uname={R:1}&amp;tab={R:2}"  appendQueryString="true" />
</rule>
