body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-header div.lp div.profile-name-holder h5 span {
  color: #fff !important; }
body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-header div.lp div.profile-name-holder > span {
  color: #93b7d8; }
  body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-header div.lp div.profile-name-holder > span svg {
    stroke: #8899a6; }
body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-info-header div.profile-avatar-holder div.profile-avatar {
  border-color: #586d7b; }
body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder {
  border-color: #586d7b; }
  body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile-name-holder h4 {
    color: #fff; }
  body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile-name-holder a {
    color: #93b7d8; }
  body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile-description-holder p {
    color: #f3f3f3; }
  body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile--user-info-block-set div.block-item span.icon svg {
    stroke: #93b7d8; }
  body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile--user-info-block-set div.block-item span.text {
    color: #93b7d8; }
  body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile--activity-stats-info div.stat-holder span.stat-holder-inner b, body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile--activity-stats-info div.stat-holder a.stat-holder-inner b {
    color: #fff; }
  body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile--activity-stats-info div.stat-holder span.stat-holder-inner span, body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile--activity-stats-info div.stat-holder a.stat-holder-inner span {
    color: #93b7d8; }
  body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile--activity-navbar {
    border-color: #586d7b; }
    body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile--activity-navbar a button.navbar-item-btn {
      color: #93b7d8; }
      body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile--activity-navbar a button.navbar-item-btn:hover, body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile--activity-navbar a button.navbar-item-btn:active, body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-prof-info-area div.profile-main--info-holder div.profile--activity-navbar a button.navbar-item-btn:focus {
        background: #1a2e3b; }
body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-posts-container div.timeline-posts-ls div.empty-profile-placeholder div.pl-message h4 {
  color: #fff; }
body.cl-app-profile main.main-content-container div.main-content-container-inner div.timeline-container div.timeline-posts-container div.timeline-posts-ls div.empty-profile-placeholder div.pl-message p {
  color: #93b7d8; }
body.cl-app-profile div.modal.report-profile-modal div.modal-content div.modal-header h5.modal-title {
  color: #fff; }
body.cl-app-profile div.modal.report-profile-modal div.modal-content div.modal-header button svg {
  stroke: #8899a6; }
body.cl-app-profile div.modal.report-profile-modal div.modal-content div.modal-body div.form-group div.radio-box-holder div.radio-box div.lp div.icon svg {
  stroke: #8899a6; }
body.cl-app-profile div.modal.report-profile-modal div.modal-content div.modal-body div.form-group div.radio-box-holder div.radio-box div.lp div.icon.selected svg {
  stroke: #fff; }
body.cl-app-profile div.modal.report-profile-modal div.modal-content div.modal-body div.form-group div.radio-box-holder div.radio-box div.rp span {
  color: #fff; }
body.cl-app-profile div.modal.report-profile-modal div.modal-content div.modal-body div.form-group div.comment-input-holder textarea {
  border-color: #586d7b; }

/*# sourceMappingURL=style.dark.css.map */
