body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body {
  width: 100%;
  display: block;
  overflow: hidden; }
  body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-navbar {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #e6ecf0; }
    body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-navbar a {
      flex: 1;
      text-decoration: none;
      line-height: 0px;
      outline: 0; }
      body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-navbar a button.navbar-item-btn {
        background: transparent;
        font-size: 11px;
        font-weight: 700;
        color: #5b7083;
        line-height: 13px;
        box-shadow: none;
        border: none;
        padding: 15px 30px;
        cursor: pointer;
        width: 100%;
        outline: 0;
        text-transform: uppercase; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-navbar a button.navbar-item-btn.active {
          border-bottom: 2px solid #1ca1f3; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-navbar a button.navbar-item-btn:hover, body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-navbar a button.navbar-item-btn:active, body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-navbar a button.navbar-item-btn:focus {
          background: #f5f8fa; }
  body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper {
    width: 100%;
    line-height: 0px;
    display: block; }
    body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input {
      width: 100%;
      line-height: 0px;
      position: relative;
      padding: 15px;
      border-bottom: 1px solid #e6ecf0; }
      body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input input {
        border: 1px solid #e6ecf0;
        background: #e6ecf0;
        border-radius: 10em;
        padding: 0 0 3px 50px;
        height: 40px;
        width: 100%;
        font-size: 13px;
        color: #14171a; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input input::placeholder {
          color: #5b7083;
          font-size: 12px; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input input:active:not([disabled]), body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input input:hover:not([disabled]), body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input input:focus:not([disabled]) {
          box-shadow: none;
          outline: none;
          border: 2px solid #1ca1f3; }
          body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input input:active:not([disabled]) + span svg, body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input input:hover:not([disabled]) + span svg, body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input input:focus:not([disabled]) + span svg {
            stroke: #1ca1f3;
            opacity: 1; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input input:disabled {
          opacity: 0.7;
          cursor: not-allowed; }
      body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input span {
        position: absolute;
        top: 25px;
        text-decoration: none;
        line-height: 0px;
        z-index: 2;
        width: 22px;
        height: 22px; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input span svg {
          width: 100%;
          height: 100%;
          stroke: #5b7083;
          opacity: 0.8; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input span.search-icon {
          left: 30px; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-form-wrapper form div.keyword-input span.spinner-icon {
          right: 30px; }
  body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content {
    width: 100%;
    display: block;
    line-height: 0px; }
    body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list {
      width: 100%;
      display: block;
      line-height: 0px; }
      body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item {
        display: block;
        line-height: 0; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item a.link {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          padding: 15px;
          border-bottom: 1px solid #e6ecf0;
          text-decoration: none; }
          body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item a.link span.hash {
            width: 35px;
            height: 35px;
            padding: 0;
            margin: 0;
            line-height: 33px;
            text-align: center;
            color: #5b7083;
            border: 1px solid #e6ecf0;
            border-radius: 10em; }
          body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item a.link span.hashtag-info {
            flex: 1;
            line-height: 0;
            padding: 0px 15px;
            overflow: hidden; }
            body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item a.link span.hashtag-info b.tag {
              font-size: 14px;
              line-height: 16px;
              font-weight: 700;
              color: #14171a;
              display: block;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              max-width: 60%; }
            body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item a.link span.hashtag-info span.total {
              font-size: 13px;
              line-height: 16px;
              font-weight: 300;
              color: #5b7083;
              display: block; }
          body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item a.link span.icon svg {
            width: 20px;
            height: 20px;
            stroke: #5b7083; }
          body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item a.link:hover, body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item a.link:active, body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item a.link:focus {
            background: #f5f8fa; }
            body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item a.link:hover span.icon svg, body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item a.link:active span.icon svg, body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.hashtags-list div.hashtags-list-item a.link:focus span.icon svg {
              stroke: #1ca1f3; }
    body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.people-list {
      width: 100%;
      line-height: 0px;
      display: block;
      padding: 0; }
      body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.people-list div.people-list-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        line-height: 0px;
        border-bottom: 1px solid #e6ecf0;
        padding: 10px 15px; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.people-list div.people-list-item:first-child {
          padding-top: 20px; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.people-list div.people-list-item div.avatar {
          width: 40px;
          height: 40px;
          overflow: hidden;
          min-width: 40px;
          max-width: 40px;
          border-radius: 10em; }
          body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.people-list div.people-list-item div.avatar img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.people-list div.people-list-item div.user-info-holder {
          flex: 1;
          padding: 0 0 0 10px;
          line-height: 0px;
          position: relative; }
          body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.people-list div.people-list-item div.user-info-holder h4 {
            font-size: 13px;
            padding: 0;
            margin: 0;
            line-height: 13px;
            font-weight: 700;
            color: #14171a;
            white-space: nowrap; }
          body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.people-list div.people-list-item div.user-info-holder > a {
            display: block;
            text-decoration: none;
            color: #5b7083;
            font-size: 13px;
            line-height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 140px; }
          body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.people-list div.people-list-item div.user-info-holder p {
            font-size: 13px;
            line-height: 18px;
            padding: 0;
            margin: 5px 0 0 0;
            padding-right: 40px; }
          body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.people-list div.people-list-item div.user-info-holder button {
            position: absolute;
            right: 0;
            top: 0; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.people-list div.people-list-item:hover, body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.people-list div.people-list-item:active {
          background: #f5f8fa; }
    body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.search-empty-result {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      line-height: 0px;
      padding: 100px 50px;
      height: calc(100vh - 225px);
      overflow: hidden; }
      body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.search-empty-result div.icon {
        line-height: 0px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.search-empty-result div.icon svg {
          width: 80px;
          height: 80px;
          stroke: #1ca1f3; }
      body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.search-empty-result div.pl-message {
        line-height: 0px;
        width: 100%;
        margin-bottom: 20px; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.search-empty-result div.pl-message h4 {
          font-size: 20px;
          padding: 0;
          margin: 0 0 10px 0;
          line-height: 20px;
          color: #14171a;
          font-weight: 700;
          text-align: center; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.search-empty-result div.pl-message p {
          font-size: 13px;
          line-height: 20px;
          padding: 0;
          margin: 0;
          color: #5b7083;
          text-align: center;
          overflow-wrap: break-word; }
      body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.search-empty-result div.c2action-single {
        width: 100%;
        line-height: 0px;
        text-align: center; }
        body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.search-empty-result div.c2action-single a {
          display: inline-block;
          line-height: 0px;
          text-decoration: none; }
          body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.search-result-container div.search-empty-result div.c2action-single a button {
            padding-left: 40px;
            padding-right: 40px; }
    body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.load-more {
      width: 100%;
      display: block;
      line-height: 0;
      padding: 20px;
      text-align: center; }
      body.cl-app-search main.main-content-container div.main-content-container-inner div.timeline-container div.vue-app-body div.main--search-area-content div.load-more button {
        padding-left: 30px;
        padding-right: 30px; }

/*# sourceMappingURL=style.master.css.map */
